ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.cat-container {
	background-color: #30d626;
	width: 100%;
	font-size: 20px;
	font-family: Arial;
	font-style: italic;
	text-align: center;
}

.cat-container img {
	width: 50%;
	margin: auto;
	position: relative;
	float: right;

}

.cat-container span {
	margin: 20px;
	padding: 20px;
	font-size: 20px;
	font-family: Arial;

}
.hidden {
	display: none;
}
.cat {
	width: 100%;
	size: 20px;
	font-family: Arial;
}

button {
	font-size: 20px;
	font-family: Time New Roman;
	border:darkblue;
	border-style: hidden;
}

.form-container {
	background-color: #ffffff;
	margin:20px;
	font-size: 20px;
	font-style: italic;
	padding: 10px;
}

.form-container input {
	border-style: groove;
	margin: 5px;
	font-size: 20px;
	
}