ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    list-style: none;
}
ul li {
    display: inline-block;
    float: left;
    text-decoration: none;
    padding-top: 5px;
}
.hidden {
	display: none;
}
.cat {
	width: 100%;
	size: 20px;
	font-family: Arial;
}
img {
	margin-right: 50%;
}
